.header {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  .header .logo {
    line-height: 1;
  }
  
  .header .logo img {
    max-height: 70px;
    margin-right: 10px;
  }
  
  .header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
  }
  
  .header .logo h1 span {
    color: var(--accent-color);
  }
  
  .scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  }
  
  .regnoshort{
    display: none;
  }
  
  
  @media (max-width: 550px) {
    .sitename {
      font-weight: 900;
    }
  
    .regno{
      display: none;
    }
  
    /* .regnoshort{
      display: flex;
      font-size: 8px;
    } */
  
  }

  
  