@font-face {
  font-family: 'Bauhaus93';
  src: url(/assets/fonts/Bauhaus93.ttf) format('truetype');
}

@font-face {
  font-family: 'ShreeLipi188';
  src: url(/assets/fonts/ShreeLipi188.ttf) format('truetype');
}

@font-face {
  font-family: 'ShreeLipi731';
  src: url(/assets/fonts/ShreeLipi731.ttf) format('truetype');
}



.lgbtn {
  padding-left: 20px;
}

.engbtn,
.mrbtn {
  border: 2px solid#fff;
  border-radius: 5px;
  color: #fff;
  background-color: gray;
  padding: 0 15px;
}


.ebtn,
.mbtn {
  border: 2px solid#fff;
  border-radius: 5px;
  color: #fff;
  background-color: gray;
  padding: 0 15px;
  display: none;
}


.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}




.header {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 110px;
  margin-right: 20px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
}

.header .logo h1 span {
  color: var(--accent-color);
}

.scrolled .header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}


.baumans-regular {
  font-family: "Baumans", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sitename-footer {
  font-family: "Baumans", system-ui;
}

.sitename {
  font-size: 54px;
  font-family: "Baumans", system-ui;
  font-weight: 700;
  color: #7a50c2;
  margin: 0;
}


.sitename .ltr {
  font-size: 75px;
  margin: 0;
}


.sitename_mar{
  font-size: 50px;
  font-family: 'ShreeLipi731';
  font-weight: 700;
  color: #7a50c2;
}

.co-op_mar{
  font-size: 24.5px;
  color: #000;
  font-weight: 600;
  padding-top: 15px;
}




.co-op {
  font-size: 27px;
  color: #000;
  font-weight: 600;
}




@media (max-width: 1400px) {

    .header .logo img {
    max-height: 90px;
  }

  .sitename {
    font-size: 45px;
  }

  .sitename_mar{
    font-size: 45px;
  }

  .sitename .ltr {
    font-size: 60px;
  }

  .co-op {
    font-size: 22px;
  }

  .co-op_mar{
    font-size: 22px;
  }
  
}


@media (max-width: 790px) {

  .header .logo img {
    max-height: 90px;
  }

  .sitename {
    font-size: 45px;
  }

  .sitename_mar{
    font-size: 45px;
  }

  .sitename .ltr {
    font-size: 60px;
  }

  .co-op {
    font-size: 22.5px;
  }

  .co-op_mar{
    font-size: 22px;
  }

}


@media (max-width: 560px) {
  .header .logo img {
    max-height: 80px;
  }

  .sitename {
    font-size: 40px;
  }

  .sitename_mar{
    font-size: 40px;
  }

  .sitename .ltr {
    font-size: 55px;
  }

  .co-op {
    font-size: 20px;
  }

  .co-op_mar{
    font-size: 19.5px;
  }

}


@media (max-width: 480px) {
  .header .logo img {
    max-height: 70px;
  }

  .sitename {
    font-size: 35px;
  }

  .sitename_mar{
    font-size: 35px;
  }

  .sitename .ltr {
    font-size: 50px;
  }

  .co-op {
    font-size: 18px;
  }

  .co-op_mar{
    font-size: 17px;
  }

}

@media (max-width: 400px) {
  .header .logo img {
    max-height: 62px;
  }

  .sitename {
    font-size: 30px;
  }

  .sitename_mar{
    font-size: 30px;
  }

  .sitename .ltr {
    font-size: 45px;
  }

  .co-op {
    font-size: 15px;
  }

  .co-op_mar{
    font-size: 14.5px;
  }

}

@media (max-width: 380px) {
  .header .logo img {
    max-height: 60px;
  }

  .sitename {
    font-size: 26px;
  }

  .sitename_mar{
    font-size: 28px;
  }

  .sitename .ltr {
    font-size: 40px;
  }

  .co-op {
    font-size: 13.5px;
  }

  .co-op_mar{
    font-size: 13.7px;
    padding-top: 8px;
  }

}


/* --------------------------------- TOP HEADER CSS ------------------------------*/

.top-header {
  padding: 10px 0 10px 0;
  background-color: #93296f;
  /* background-image: linear-gradient(to right, #d3830b, #d30e4c, #2b0baa); */
  /* background-image: linear-gradient(to right, #93296f, #ef4123); */
}

.top-head h5 {
  font-family: var(--default-font);
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.shortreg {
  display: none;
}

@media (max-width: 1200px) {
  .top-head h5 {
    font-size: 14px;
  }

  .lgbtn {
    font-size: 15px;
  }
}


@media (max-width: 1024px) {
  .topadd {
    display: none;
  }
}

@media (max-width: 790px) {
  .top-head h5 {
    font-size: 14px;
  }


  .engbtn,
  .mrbtn {
    display: none;
  }


  .ebtn,
  .mbtn {
    display: inline;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .top-head h5 {
    font-size: 10px;
  }

  .ebtn,
  .mbtn {
    font-size: 10px;
  }

}


.footer .credits a {
  color: #7a50c2;
  font-weight: 500;
}