/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about .content ul {
	list-style: none;
	padding: 0;
}

.about .content ul li {
	padding-bottom: 10px;
}

.about .content ul i {
	font-size: 1.25rem;
	margin-right: 4px;
	color: var(--accent-color);
}

.about .content p:last-child {
	margin-bottom: 0;
}

.socinfo {
	font-size: 20px;
}

.about .about-images img {
	border-radius: 10px;
}

.dirmsg {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}

.dirimg {
	height: 30px;
	width: 30px;
}


/*--------------------------------------------------------------
# Director Message Section
--------------------------------------------------------------*/
.dirmsg .dirmsg-item {
	background-color: var(--surface-color);
	box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
	padding: 60px 30px;
	transition: all ease-in-out 0.3s;
	border-radius: 18px;
	border-bottom: 5px solid var(--surface-color);
	height: 100%;
}

.dirmsg .dirmsg-item .icon {
	color: var(--contrast-color);
	background: var(--accent-color);
	margin: 0;
	width: 64px;
	height: 64px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	font-size: 28px;
	transition: ease-in-out 0.3s;
}

.dirmsg .dirmsg-item h3 {
	font-weight: 700;
	margin: 10px 0 15px 0;
	font-size: 22px;
	transition: ease-in-out 0.3s;
}

.dirmsg .dirmsg-item p {
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}

@media (min-width: 1365px) {
	.dirmsg .dirmsg-item:hover {
		transform: translateY(-10px);
		border-color: var(--accent-color);
	}

	.dirmsg .dirmsg-item:hover h3 {
		color: var(--accent-color);
	}
}


.click {
	color: red;
	display: flex;
	justify-content: right;
	text-decoration: underline;
}










/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item+.info-item {
	margin-top: 40px;
}

.contact .info-item i {
	color: var(--accent-color);
	background: color-mix(in srgb, var(--accent-color), transparent 92%);
	font-size: 20px;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	margin-right: 15px;
}

.contact .info-item h3 {
	padding: 0;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 5px;
}

.contact .info-item p {
	padding: 0;
	margin-bottom: 0;
	font-size: 16px;
}

.contact .info-item:hover i {
	background: var(--accent-color);
	color: var(--contrast-color);
}

.partner-item {
	padding: 20px 20px;
	opacity: .4;
	transition: .4s
}

.partner-item:hover {
	opacity: 1
}

.partner-item img {
	display: block;
	margin: 0 auto;
	max-width: 220px
}


.group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: spin 15s infinite linear;
	gap: 3em;
	padding-right: 3em;
}

.carousel {
	display: flex;
	overflow-x: auto;
}

.carousel::-webkit-scrollbar {
	display: none;
}


@keyframes spin {
	from {
		translate: 0;
	}

	to {
		translate: -100%;
	}
}


@media (max-width: 700px) {
	.partner-item img {
		max-width: 150px
	}
}



/* CODE FOR FOOTER  */
