.swiper {
  width: 100%;
  height: 600px;
  overflow:hidden ;
}

.swiper-slide img {
  width: 100%;
  height: 600px;
  overflow: hidden;
}


@media (max-width: 1200px){
  .swiper-slide img{
    height: 500px;
  }

  .swiper{
    height: 500px;
  }
}

@media (max-width: 950px){
  .swiper-slide img{
    height: 400px;
  }

  .swiper{
    height: 400px;
  }
}

@media (max-width: 750px){
  .swiper-slide img{
    height: 350px;
  }

  .swiper{
    height: 350px;
  }
}

@media (max-width: 600px){
  .swiper-slide img{
    height: 300px;
  }

  .swiper{
    height: 300px;
  }
}

@media (max-width: 500px){
  .swiper-slide img{
    height: 200px;
  }

  .swiper{
    height: 200px;
  }
}


.swiper .swiper-pagination{
  color: #fff;
}


.swiper .swiper-button-prev, 
.swiper .swiper-button-next{
  color: #fff;
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover{
  color: #7a50c2;
  font-weight: 900;
  box-shadow: 50px solid #000;
}

.swiper .swiper-pagination-bullet-active{
  background: #fff;
}
